* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f4f6;
  font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #778298;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
}

.albums,
.artists,
.playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.back {
  margin: auto;
  top: 50%;
}

.backy {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -10;
}

.btn {
  letter-spacing: 1px;
  color: greenyellow;
}

.card {
  margin: 1rem;
  box-shadow: 0 2px 7px 3px #949ca5;
}

.card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.card-image-link > img {
  width: 100%;
}

.cover {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cover-label {
  margin-top: 1em;
  position: sticky;
  left: 50%;
  font-size: larger;
  transform: translate(-50%);
}

#empty-player {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#exit-v {
  color: black;
  position: absolute;
  font-size: 50px;
  top: 16px;
  right: 16px;
}

#form {
  display: flex;
  flex-direction: row;
}

.form-control {
  font-size: 1.2rem;
}

.half-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: content;
}

.hide {
  display: none;
}

.list::after {
  content: '';
  flex: auto;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.loader-open {
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .btn {
  font-size: 1.2rem;
}

.main {
  width: 90%;
  margin: 2rem auto;
}

.main-heading {
  margin: 2rem 0;
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-5%);
  color: #fff;
  letter-spacing: 1px;
}

.search-buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.search-buttons .btn:focus {
  box-shadow: none;
}

@media screen and (max-width: 400px) {
  .card img {
    height: auto;
  }
  .main-heading {
    text-align: center;
  }
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
}

.search-input {
  font: inherit;
  color: currentColor;
  width: max-content;
  border: 0;
  height: 1.1876em;
  margin: 0 5px 0 0;
  display: flex;
  flex: 1;
  padding: 6px 0 7px;
  background: white;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
}

.search-input:before {
  left: 0;
  right: 0;
  bottom: 0;
  /* content: '\00a0'; */
  position: absolute;
  /* transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.search-input:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  transform: scaleX(0);
  /* transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms; */
  border-bottom: 2px solid #3f51b5;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.search-item {
  position: relative;
}

.search-item .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  transition: all 0.8s ease;
  font-size: 100px;
}

.search-item:hover .play-icon {
  opacity: 1;
}

.search-item:hover .search-image {
  opacity: 0.5;
  cursor: pointer;
}

.spotify {
  max-height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  left: 25px;
}

@media only screen and (min-width: 1100px) {
  .spotify {
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

.v-background {
  z-index: 2;
}

.vision-board {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
